node_modules

# Output
.output
.vercel
.netlify
.wrangler
/frontend/.svelte-kit
/frontend/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.sample
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# golang
main
pharma
vendor