@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bold-text-weight: 500;
    --normal-text-weight: 300;
    --light-text-weight: 100;
    --h1-size: 44px;
    --h2-size: 36px;
    --h3-size: 30px;
    --h4-size: 26px;
    --h5-size: 22px;
    --h6-size: 20px;
    --normal-text-size: 18px;
    --primary-text-color: #171921;
    --secondary-text-color: #4f4f4f;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6, b {
    font-weight: var(--bold-text-weight);
    color: var(--primary-text-color);
}

b {
    font-size: var(--normal-text-size);
    color: var(--primary-text-color);
}

p, span, a, div, ol, ul, li, hr, pre, blockquote {
    font-weight: var(--normal-text-weight);
    font-size: var(--normal-text-size);
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-text-color)
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}